*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#outer-box {
  background-color: purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
}
































































































































































































































































































































































































































span{
  position: absolute;
  font-size: 2.5rem;
  color:#000;
  opacity: 0.4;
  bottom: 5px;
  left: 40%;
}